<% if @category %>
    <h1><%= @category.title %> Index</h1>
    <%= link_to 'Add a new ' + @category.title + ' link', new_category_link_path(@category) %>
<% else %>
    <h1>Links Index</h1>
    <%= link_to 'Add a new link', new_link_path %>
<% end %>


<ul>
<% @links.each do |link| %>
    <li><%= link_to link.title, link_path(link) %></li>
<% end %>
</ul>